body {
    background-color: rgb(65, 30, 30);
}

.text-shadow
{
    text-shadow: 2px 2px 2px rgba(o, 0, 0, 0.5);
}

.flashes h4{
    line-height: 2;

}

.btn-small{
    margin: 5px;
}

.collapsible-header .col strong
{
    margin: 5px;
    line-height: 42px;
}

p {
    font-size: 16px
}

strong{
    font-size: 16px;
}

.em{
    font-size:16px
}