body{
    background-image: url(https://images.unsplash.com/photo-1524578271613-d550eacf6090?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=8);
    
}

.text-shadow
{
    text-shadow: 2px 2px 2px rgba(o, 0, 0, 0.5);
}

.flashes h4{
    line-height: 2;
}

.btn-small{
    margin: 5px;
}

.collapsible-header .col strong
{
    margin: 5px;
    line-height: 42px;
}