{% extends "base.html" %}
{% block content %}

<h3 class="white-text grey darken-4
    center-align ">Add Review</h3>

    <div class="row card-panel white">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-align-left prefix grey-text text darken-4"></i>
                <textarea id="reviews" name="reviews" minlength="30"
                 maxlength="300" class="materialize-textarea validate"required></textarea>
                <label for="reviews">Review</label>
                </div>
        </form>
      </div>
    </div>
        



{% endblock %}