{% extends "base.html" %}
{% block content %}

<h3 class="white-text deep-orange darken-2
center-align "> All Books</h3>

<ul class="collapsible">
    {% for book in books %}
    <li>
        <div class="collapsible-header white-text brown darken-2
        center-align text-shadow">
            <i class="fas fa-caret-down"></i>
            <strong>{{ book.title }}</strong> : {{ book.author }} </strong>
        </div>
        <div class="collapsible-body black-text white
        center-align text-shadow">
            <strong>{{ book.category_name }}</strong>
            <p>{{ book.book_description }}</p>
            <p><em> Book added By: {{ book.created_by }}</em></p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}