{% extends "base.html" %}
{% block content %}

<ul class="collapsible">
    {% for book in books %}
    <li>
        <div class="collapsible-header white-text grey darken-4
        center-align text-shadow">
            <i class="fas fa-caret-down"></i>
            <strong>{{ book.title }}</strong> : {{ book.author }} white-text grey darken-4</strong>
        </div>
        <div class="collapsible-body black-text white
        center-align text-shadow">
            <strong>{{ book.category_name }}</strong>
            <p>{{ book.book_description }}</p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}