{% extends "base.html" %}
{% block content %}

<h3 class="white-text deep-orange darken-4
center-align "> All Books</h3>

<ul class="collapsible">
    {% for book in books %}
    <li>
        <div class="collapsible-header white-text grey darken-2
        center-align text-shadow">
        <div class="col s3">
            <i class="fas fa-caret-down"></i>
            {% if session.user|lower == book.created_by|lower %}
            <a href="{{ url_for('edit_book', book_id=book._id)}}" class="btn-small grey darken-4">Edit</a>
            {% endif %}
            <strong>{{ book.title }}</strong> : {{ book.author }} </strong>
        </div>
        </div>
        <div class="collapsible-body black-text white
        center-align text-shadow">
            <strong>{{ book.category_name }}</strong>
            <p>{{ book.book_description }}</p>
            <p><em> Book added By: {{ book.created_by }}</em></p>
           <br>
           <h1#>Review </h1>
            <p>{{- book.reviews }}</p> 
            <p>{{- book.created_by}}</p>
    </li>
    {% endfor %}
</ul>

{% endblock %}