{% extends "base.html" %}
{% block content %}

<h3 class="white-text grey darken-4
center-align ">Add Category</h3>

<div class="row">
    <div class="col s11 center-align">
        <a href="{{ url_for('add_category') }}"class="btn-large deep-orange darken-3 text-shadow">
            Add Category <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<div class="row">
    {% for category in categories %}
    <div class="col s3">
      <div class="card white">
        
        <div class="card-content white grey darken-4-text center-align">
          <span class="card-title">{{ category.category_name }}</span>
        </div>
        <div class="card-action">
          <a href="#"  class="btn-small grey darken-4 center-align">Edit</a>
          <a href="#"  class="btn-small grey darken-4 center-align">Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>








{% endblock %}