{% extends "base.html" %}
{% block content %}

    <h3 class="white-text deep-orange darken-4
    center-align ">Edit Book</h3>

    <div class="row card-panel white">
        <form class="col s12" method="POST" action="{{ url_for('edit_book', book_id=book._id) }}">
            <!---category selection---->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-folder-open prefix grey-text text darken-4"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                      <option value="" disabled>Choose Category</option>
                      {% for category in categories %}
                        {% if category_name == book.category_name %}
                        <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                        {% else %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                    <label for="category_name">Book Category</label>
                  </div>
            </div>
            <!---book title---->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-pencil prefix grey-text text darken-4"></i>
            <input id="title" name="title" value="{{ book.title }}" maxlength="70" type="text"  class="validate" required>
            <label for="title">Book Title</label>
            </div>
        </div>
        <!---book description---->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-align-left prefix grey-text text darken-4"></i>
            <textarea id="book_description" name="book_description" minlength="30"
             maxlength="300" class="materialize-textarea validate"required>
                {{- book.book_description -}}
            </textarea>
            <label for="book_description">Book Description</label>
            </div>
        </div>
        <!---author---->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-pencil prefix grey-text text darken-4"></i>
            <input id="author" name="author" value="{{ book.author }}" maxlength="20"  type="text" class="validate" required>
            <label for="author">Author</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-align-left prefix grey-text text darken-4"></i>
            <textarea id="reviews" name="reviews" minlength="30"
             maxlength="500" class="materialize-textarea validate"required></textarea>
             {{ book.reviews }}
            <label for="reviews">Review</label>
            </div>
        </div>
          <!-- submit button -->
          <div class="row">
            <div class="col s12 center-align">
                <!---cancel----->
                <a href="{{ url_for('book_list') }}" class="btn-large deep-orange darken-4 text-shadow">
                    Cancel <i class="fa-solid fa-circle-xmark right"></i>
                </a>
                <button type="submit" class="btn-large grey darken-4 text-shadow">
                    EDit Book <i class="fa-solid fa-pen-to-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>
    

{% endblock %}